.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  padding: 20px 0 5px 0;
  width: 100vw;
  max-width: 100vw;
  transition: opacity 0.3s ease;
  z-index: 30;
  font-size: var(--global-smaller-font);
}

.scrolled {
  opacity: 0.6;
}

.header > img {
  padding-left: 10vw;
  display: flex;
}

.header-nav > ul > a > svg {
  vertical-align: middle;
  vertical-align: sub;
}

.header-nav > ul > a {
  padding: 15px;
}

.header-nav > a:last-child {
  margin-right: 10vw;
  padding-right: 0;
}

.header:hover {
  opacity: 1;
}

.header img {
  width: 100px;
}

.header a:link {
  color: var(--global-color-black);
}

.header a:visited {
  color: var(--global-color-black);
}

.btn-display-mobile {
  display: none;
}


@media screen and (max-width: 768px) {
  .btn-display-mobile {
    display: block;
  }

}

@media screen and (max-width: 768px) {
  .menu-desktop {
    display: none;
  }

}