/* .step-container {
  display: flex;
  flex-direction: row;
  width: 110%;
  margin: 0 -5%;
  gap: 10px;
}

.step-container h3{
  width: min-content;
}

.arrow {
  margin-top: -1rem;
  font-size: 6rem;
  font-weight: 100;
} */