/* .step-container {
  display: flex;
  width: 120%;
  margin: 0 -10%;
}

.step-container h2{
  width: min-content;
  margin-right: 10px;
}

.pre-step {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rect {
  display: flex;
  width: 380px;
  height: 200px;
  background-color: var(--global-color-red);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  position: relative;
}

.rect::after {
  content: 'ESCOLHA SUA MODALIDADE';
  text-align: center;
  font-size: 2.5rem;
  z-index: 40;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rect-1 {
  margin-left: -25px;
  display: flex;
  width: 380px;
  height: 200px;
  background-color: var(--global-color-red);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  position: relative; 
}

.rect-2 {
  margin-left: -25px;
  display: flex;
  width: 380px;
  height: 200px;
  background-color: var(--global-color-red);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  position: relative; 
}

.rect-1::after {
  content: 'METODOLOGIA';
  text-align: center;
  font-size: 2.5rem;
  z-index: 40;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.rect-2::after {
  content: 'FORMA DE PAGAMENTO';
  text-align: center;
  font-size: 2.5rem;
  z-index: 40;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
} */