@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;500;700&display=swap');

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 80vw;
  max-width: 1060px;
  margin: 10rem auto;
  gap: 5rem;
  display: flex;
  flex-direction: column;
}

section.module p, h1 {
  z-index: 20;
}

section.module.content p {
  font-size: 1.2rem;
}

section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

section.module.parallax:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.75) 100%);
}

section.module.parallax-1 {
  background-image: url('../assets/geral_01.jpg');
  background-position: 70% 50%;
}

section.module.parallax-1 img{
  margin-top: 450px;
  width: 50%;
  z-index: 20;
}

section.module.parallax-2 {
  background-image: url('../assets/bike_03.jpg');
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.801);
  background-position: 70% 50%;
}

.btn-plans{
  padding: 20px;
  z-index: 20;
  background-color: transparent;
  border: 1px solid #ece7d5;
  cursor: pointer;
  color: #ece7d5;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.801);
  font-size: var(--global-small-font);
}

.btn-plans:active{
  transform: scale(1.1)
}

.icon-link {
  position: absolute;
  top: 10%;
  left: 1%;
  z-index: 20;
}

@media (max-width: 1024px) {
  section.module.parallax-1 img{
    margin-top: 250px;
  }
  section.module.parallax {
    background-attachment: scroll;
  }
}

@media (max-width: 800px) {
  section.module.parallax-2 {
    background-position: 40% 50%;
  }
}

@media (max-width: 680px) {
  section.module.content p, p {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  .btn-plans{
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 5rem auto;
  }

  section.module.parallax-1 {
    background-position: center;
    background-size: cover;
  }

  section.module.parallax-2 {
    background-position: 30% 50%;
    background-size: cover;
    background-clip: border-box;
  }
  section.module.content p, p {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2.0rem;
  }

  .btn-plans{
    font-size: 1rem;
    padding: 15px;
  }
  
}