section.module.parallax-4 {
  background-image: url('../assets/geral_05.jpg');
  background-size: cover;
  background-position: center left;
}

section.module.parallax-4 > h1 {
  margin-top: 450px;
}

.container-map {
  width: 400px;
  height: 400px;
}

.obs-maps {
  margin-top: 1rem;
}

@media (max-width: 800px) {
  section.module.parallax-4 {
    background-position: 40% 50%;
  }

  h1 {
    line-height: 1.2;
  }
}


@media (max-width: 600px) {
  section.module.parallax-4 {
    background-position: 45% 50%;
  }

  .container-map {
    width: 350px;
    height: 350px;
  }
  
}

@media (max-width: 450px) {

  .container-map {
    width: 280px;
    height: 280px;
  }
  
}