section.module.parallax-3 {
  background-image: url('../assets/run_12.jpeg');
  background-size: cover;
  background-position: center left;
}

.container {
  width: 80vw;
  max-width: 1060px;
  margin: 10rem auto;
  gap: 5rem;
  display: flex;
  flex-direction: column;
}

section.module p, h1 {
  z-index: 20;
}

section.module.content p {
  font-size: var(--global-smaller-font);
}

section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

section.module.parallax:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.75) 100%);
}