main {
  display: block;
}

h1 {
  font-size: var(--global-large-font);
  margin: 0;
}

h2 {
  font-size: var(--global-medium-font);
  margin-block: 0;
}

h3 {
  font-size: var(--global-smmedium-font);
  margin-block: 0;
}

p {
  font-size: var(--global-small-font);
  margin: 0;
  font-weight: 300;
}

a:link {
  text-decoration: none;
}